<a href="https://colab.research.google.com/github/Deepikat11/random/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('chipotle.csv')
print(df.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

In [10]:
df['item_price']=df['item_price'].replace('[\$,]','').astype(float)

In [13]:
print(df['order_id'].nunique())

1834

In [16]:
avg=df.groupby('order_id')['item_price'].sum().mean()
print(avg)

18.811428571428568

In [17]:
print(df['item_name'].nunique())

50

In [21]:
print(df.groupby('item_name')['quantity'].sum().sort_values(ascending=False).head())

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Steak Burrito          386
Canned Soft Drink      351
Name: quantity, dtype: int64

In [22]:
print(df['choice_description'].nunique())

1043

In [23]:
high=df.groupby('order_id')['item_price'].sum()
print(high.idxmax())
print(high.max())

926
205.25